<div class="row container">
  <div class="col-md-4">
    <img
      src="{{ movie?.Poster }}"
      class="img-thumbnail"
      alt="{{ movie?.Title }}"
    />
  </div>
  <div class="col-md-8">
    <ul class="list-group">
      <li class="list-group-item">
        <strong>Title: </strong>{{ movie?.Title }}
      </li>
      <li class="list-group-item">
        <strong>Genre: </strong>{{ movie?.Genre }}
      </li>
      <li class="list-group-item">
        <strong>Release Date: </strong>{{ movie?.Released | date }}
      </li>
      <li class="list-group-item">
        <strong>Rating: </strong>{{ movie?.Rated }}
      </li>
      <li class="list-group-item">
        <strong>IMDB Rating: </strong>{{ movie?.imdbRating }}
      </li>
      <li class="list-group-item">
        <strong>Director: </strong>{{ movie?.Director }}
      </li>
      <li class="list-group-item">
        <strong>Writer: </strong>{{ movie?.Writer }}
      </li>
      <li class="list-group-item">
        <strong>Cast: </strong>{{ movie?.Actors }}
      </li>
    </ul>
  </div>
</div>
<div class="row container">
  <div class="p-5 bg-light rounded position-relative">
    <h3>Plot</h3>
    {{ movie?.Plot }}
    <hr />
    <a href="http://imdb.com/title/{{ movie?.imdbID }}" class="btn btn-primary"
      >View IMDB</a
    >
    <a
      [routerLink]="['/movies']"
      routerLinkActive="router-link-active"
      class="btn btn-danger position-absolute start-50"
      >Go Back to Search</a
    >
  </div>
</div>
