<div id="background" class="container">
  <div class="p-5 bg-light rounded">
    <h1 class="text-center">Open Movie Database</h1>
    <div class="search input-group">
      <input
        type="search"
        #search
        class="form-control"
        placeholder="search for a movie"
        (search)="getMovies(search.value)"
      />
      <button
        class="btn btn-outline-secondary"
        type="button"
        id="button-addon2"
      >
        <i class="fas fa-search" (click)="getMovies(search.value)"></i>
      </button>
    </div>
  </div>
</div>

<div class="container">
  <app-card-movie *ngFor="let movie of movies" [movie]="movie">
  </app-card-movie>
</div>
